# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Node modules
**/node_modules

# Git and other metadata
.git
.gitignore
Dockerfile
docker-compose.yml

# Build output
**/dist
**/build

# OS files
.DS_Store
Thumbs.db
